@import "./_globals";
// main styles

main {
  overflow-y: hidden;
  background-image: url("/images/hero.webp");
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-attachment: fixed;
  background-size: 100vw;
  max-width: $defaultWidth;
  margin: auto;
  background-color: #fff;
  border-radius: $defaultBorderRadius;

  .intro,
  .about,
  .skills,
  .services,
  .portfolio,
  .testimonials,
  .contact {
    max-width: $defaultWidth2;
    margin: auto;
  }
  .about,
  .skills,
  .services,
  .portfolio,
  .testimonials,
  .contact {
    margin-top: 6rem;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;

    h3 {
      padding: $defaultPaddingSmall;
      width: max-content;
      font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      font-size: 1.3rem;
      font-display: swap;
      margin-bottom: 1rem;

      &::after {
        content: "";
        display: block;
        border-bottom: 3px solid $logoYellow;
        padding-top: 0.5rem;
        transform: translateX(-25%) scaleX(50%);
      }
    }
  }

  // social
  .social {
    margin-top: 1rem;

    a {
      width: 2.5rem;
      height: 2.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      color: black;
      background-color: $logoGrey;
      transition: background-color $time;
      &:hover {
        background-color: $logoYellow;
      }
      svg {
        width: 20px;
        height: 20px;
      }
    }
  }

  // nav
  nav {
    box-shadow: $shad;
    max-width: $defaultWidth;
    top: 0;
    opacity: 1;
    transition: opacity $time;
    .navinner {
      padding: $defaultPadding;
      max-width: $defaultWidth1;
      margin: auto;
      flex-wrap: wrap;
      img {
        cursor: pointer;
        width: 40px;
        height: auto;
        animation: grow 0.78s alternate-reverse infinite;
        animation-timing-function: linear;
      }

      svg {
        cursor: pointer;
      }

      li {
        font-weight: bold;
        font-size: 0.875rem;
        color: $logoBlack;
      }
      .linkscont {
        margin-left: auto;
        width: 100%;
        ul {
          font-size: 0.875rem;
          li {
            &.active a {
              color: $logoYellow;
            }
          }
        }
      }
    }
  }

  section {
    .intro {
      margin-top: 5.5rem;
      .name {
        transform: translateX(-20%);
        opacity: 0;
        transition: transform $time1, opacity $time1;
        p {
          max-width: 60%;
        }
        > header,
        > p,
        > div {
          padding: $defaultPaddingSmall;
        }
        > p,
        p > a {
          color: $fontGrey !important;
        }
        .buttons {
          margin-top: 1rem;
          width: 100%;
          .btn {
            font-size: 1rem !important;
            width: 24%;
            text-align: center;
          }
        }
        h2 {
          &:last-of-type {
            color: $logoYellow;
          }
          font-size: 2.15rem;
          font-family: Roboto;
        }
      }
      .social,
      .check-cont {
        padding: $defaultPaddingSmall;
        transform: translateY(100%);
        opacity: 0;
        transition: transform $time1, opacity $time1;
      }

      p > span:first-of-type {
        font-weight: bold;
      }
      // checks
      .check-cont {
        grid-template-columns: repeat(3, 1fr);
        margin-top: 4rem;
        .check {
          padding: 0.5rem 0.7rem;
          box-shadow: $shad2;
          border-radius: $defaultBorderRadius;
          grid-template-columns: 1fr 8fr;
          background-color: #fff;
          svg {
            width: 45px;
            height: 45px;
            padding: 10px;
            border-radius: 50%;
          }
          p {
            span {
              display: block;
              text-align: center;
              font-weight: bold;
            }
            > span:first-of-type {
              font-size: 1.2rem;

              color: $logoYellow;
            }
            > span:last-of-type {
              font-size: 0.825rem;
            }
          }
          div {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            padding: 0.4rem;
            background-color: rgba(128, 128, 128, 0.233);
            justify-self: center;

            img {
              width: 100%;
              height: 100%;
              &.invert {
                filter: invert(1);
              }
            }
            &.black {
              background-color: $logoBlack;
            }
            &.yellow {
              background-color: $logoYellow;
            }
          }
          i {
            justify-self: center;
            display: none;
            font-weight: 400;
            font-size: 1.2rem;
          }
        }
      }
    }

    // about
    .about {
      grid-template-columns: 1fr 1.8fr;
      background-color: #fff;
      border-radius: $defaultBorderRadius;

      .imgcont {
        margin: $defaultPaddingSmall;
        border: 7px solid $logoYellow;
        border-radius: $defaultBorderRadius;
        transform: translateY(5%);
        img {
          border-radius: $defaultBorderRadius;
          border: 7px solid $logoBlack;
          width: calc(100% + 14px);
          height: calc(100% + 14px);
          object-fit: cover;
          transform: translate(10%, -10%);
        }
      }
      p {
        padding: $defaultPaddingSmall;
        color: $fontGrey;
        &:last-of-type {
          padding-bottom: 1rem;
        }
      }
    }

    // skills
    .skills {
      grid-template-columns: 1fr 1.5fr;

      .stackscont {
        p {
          padding: $defaultPaddingSmall;
          color: $fontGrey;
        }

        .switch {
          margin: $defaultPaddingSmall;
          margin-top: 1rem;
          background-color: $logoBlack;
          border-radius: $defaultBorderRadius;
          padding: 0.3rem;
          position: relative;
          button {
            width: 50%;
            z-index: 3;
            font-size: 1rem;
            padding: 0.5rem 1.4rem;
            border-radius: $defaultBorderRadius;

            font-weight: 500;
            color: #fff;
            // &.active {
            //   color: #fff;
            // }
          }
          .switchcontrol {
            position: absolute;
            background-color: $logoYellow;
            z-index: 1;
            height: calc(100% - 0.6rem);
            width: calc(50% - 4px);
            transform: translateX(0);
            transition: transform $time;

            &.move {
              transform: translateX(100%);
            }
          }
        }
      }
      .sets {
        display: grid;
        align-items: center;
        .stackboxcont {
          padding: $defaultPadding;
          row-gap: 1rem;
          grid-template-columns: repeat(4, 1fr);
          display: none;

          &.show {
            display: grid;
            .stackbox {
              transition: all 0.3s;
            }
          }
          img {
            cursor: pointer;
            opacity: 0;
            transform: translate(50%, 50%);
            border-radius: $defaultBorderRadius;
            box-shadow: $shad2;
            background-color: #fff;
            display: block;
            width: 98px;
            height: 98px;
            padding: 28px;
            transition: opacity 0.35s, transform 0.35s;
          }
        }
      }
    }

    // services
    .services,
    .portfolio {
      > div {
        margin: $defaultPaddingSmall;
        gap: 1rem;
      }
      > p {
        padding: $defaultPaddingSmall;
        color: $fontGrey;
      }

      .servicebox {
        background-color: #fff;
        flex-direction: column;
        padding: 1.3rem;
        border-radius: $defaultBorderRadius;
        position: relative;
        overflow: hidden;
        box-shadow: $shad2;

        img {
          width: 100%;
          display: block;
        }
        .overlay {
          // display: none;
          position: absolute;
          // background-color: rgba(135, 207, 235, 0.25);
          // background-color: #2a2a2a25;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;

          .text {
            // transform: translateY(110%);
            padding: 1rem;
            border-radius: $defaultBorderRadius;
            position: absolute;
            bottom: 0;
            width: 100%;

            h4 {
              color: $logoYellow;
              font-weight: bold;
              text-align: center;
            }
            p {
              text-align: center;
              font-size: 0.75rem;
              color: $fontGrey;
            }
          }
        }
      }
    }

    .services {
      > div {
        height: 300px;
      }
    }
    .portfolio .servicebox {
      .overlay {
        // background-color: #2a2a2aad;
        position: relative;
        .text {
          position: relative !important;
          padding-bottom: 0 !important;
        }
      }
    }

    // contact
    .contact {
      .contact-details {
        .social {
          padding: $defaultPaddingSmall;
          margin-top: 0.5rem;
        }
        > p {
          padding: $defaultPaddingSmall;
          color: $fontGrey;
        }
        .contactbox {
          padding: $defaultPaddingSmall;
          column-gap: 0.725rem;
          svg {
            margin-top: 4px;
            width: 20px;
            height: 20px;
          }
          p {
            display: grid;
            span {
              &:first-of-type {
                font-weight: bold;
              }
              &:last-of-type {
                color: $fontGrey;
              }
            }
          }
        }
      }
      form {
        margin: $defaultPaddingSmall;
        row-gap: 1.2rem;
        padding: 1.5rem 1rem;
        border-radius: $defaultBorderRadius;
        background-color: $logoBlack;
        label {
          color: #fff;
          display: grid;
          font-size: 0.825rem;
          font-weight: bold;
          row-gap: 0.3rem;
          svg {
            fill: rgba(128, 128, 128, 0.637);
            position: absolute;
            height: 14px;
            width: 14px;
            transform: translate(0.6rem, 33px);
          }
          input,
          textarea {
            border: none;
            border-radius: $defaultBorderRadius;
            padding: 0.6rem 0.6rem 0.6rem 2.1rem;
            line-height: 1.2rem;
            &::placeholder {
              color: gray;
            }
            &:focus {
              outline: 2.5px solid $logoYellow;
            }
          }
          textarea {
            padding-left: 0.6rem;
            height: 7rem;
            resize: none;
          }
        }
      }
    }
  }
}

footer {
  padding: $defaultPadding;
  padding: {
    top: 1.5rem;
    bottom: 1.5rem;
  }
  max-width: $defaultWidth1;
  margin: auto;
  margin-top: 6rem;
  display: flex;
  align-items: baseline;
  justify-content: space-between;

  p {
    color: $logoBlack;
    background-color: #fff;
    border-radius: $defaultBorderRadius;
    padding: 0.8rem;
    span {
      font-family: cursive;
      font-weight: bold;
      font-size: 1.1rem;
    }
  }
}

.alert {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000000bd;
  z-index: -10;
  opacity: 0;
  transition: z-index 0.5s, opacity 0.5s;

  &.show {
    z-index: 1500;
    opacity: 1;
  }
  .inner {
    padding: 2rem;
    padding-left: 3.5rem;
    background-color: #fff;
    border-radius: $defaultBorderRadius;
    position: relative;
  }
}

.topbtn {
  position: fixed;
  bottom: 0.75rem;
  left: 90vw;
  color: $logoYellow;
  background-color: $logoBlack;
  font-size: 1.25rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: $shad2;
  z-index: -10;
  animation: grow 2s infinite alternate-reverse ease-in;
  &.show {
    z-index: 100;
  }
}
