@import "./_globals";

@mixin resimage {
  top: 0;
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
}

// bg vid
.bgvideo {
  video {
    min-width: 100%;
    min-height: 770px;
    position: fixed;
    transform: translateY(1%, -5%);
  }
}
// nav
nav {
  background-color: transparent;
  z-index: 100;
  .navinner {
    padding: $defaultPadding;
    max-width: $defaultWidth1;
    margin: auto;
    flex-wrap: wrap;
    position: relative;
    .logo {
      fill: $logoYellow;
      height: 40px;
      width: 40px;
      display: inline-block;
      transform: translate(-5%, 28%);
      border-radius: 50%;
      animation: grow 0.78s alternate-reverse infinite;
      animation-timing-function: linear;
    }

    .togglebtn {
      cursor: pointer;
      display: none;
      transform: scale(0.8);
      fill: #fff;
    }

    .linkscont {
      margin-left: auto;
      position: relative;

      ul {
        li {
          font-weight: bold;
          font-size: 0.875rem;
          a {
            color: #fff;
          }
          &.active a {
            color: $logoYellow;
          }
        }
      }
    }
  }
}

// main styles
main {
  max-width: $defaultWidth;
  margin: auto;
  position: relative;

  .intro,
  .about,
  .skills,
  .portfolio,
  .testimonials,
  .contact {
    max-width: $defaultWidth2;
    margin: auto;
  }
  .about,
  .skills,
  .portfolio,
  .testimonials,
  .contact {
    margin-top: 6rem;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;

    h3 {
      padding: $defaultPaddingSmall;
      width: max-content;
      font-size: 1.3rem;
      margin-bottom: 1rem;

      &::after {
        content: "";
        display: block;
        border-bottom: 3px solid $logoYellow;
        padding-top: 0.5rem;
        transform: translateX(-25%) scaleX(50%);
      }
    }
  }

  // social
  .social {
    margin-top: 1rem;
    a {
      width: 2.5rem;
      height: 2.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: $logoGrey;
      transition: background-color $time;
      &:hover {
        background-color: $logoYellow;
        svg {
          fill: #fff;
        }
      }
      svg {
        transition: fill $time;
        fill: $logoBlack;
        width: 18px;
        height: 18px;
      }
    }
  }
  // p
  p {
    color: $fontGrey;
    text-align: justify;
  }

  section {
    .intro {
      margin-top: 8rem;
      padding: {
        left: 0.5rem;
        right: 0.5rem;
      }
      .name {
        position: relative;
        transform: translateX(-12%);
        opacity: 0;
        z-index: -10;
        transition: transform $time1, opacity $time1;
        p {
          max-width: 80%;
        }
        > header,
        > p,
        > div {
          padding: $defaultPaddingSmall;
        }

        // email
        p {
          span {
            color: black;
            font-weight: bold;
          }
          a {
            color: inherit;
          }
        }

        .buttons {
          margin-top: 1rem;
          .btn {
            font-size: 1rem;
            width: 24%;
            text-align: center;
            // box-shadow: $shad2;
          }
        }
        h2 {
          font-size: 2.15rem;
          width: 0;
          overflow: hidden;
          white-space: nowrap;
          border-right: 0.25rem solid #fff;
          &:last-of-type {
            border-right: 0.25rem solid $logoYellow;
            color: $logoYellow;
            opacity: 0;
          }
        }

        // typewriter animation

        h2:first-of-type {
          animation: typewriterwidth 1.64s steps(14) 1.5s forwards,
            blink 750ms 7, hideblink 100ms 3.2s 1 forwards;
        }
        h2:last-of-type {
          animation: show 1ms 3.2s forwards,
            typewriterwidth2 2.8s steps(24) 3.2s forwards,
            blink 750ms 3.2s infinite;
        }
      }

      // social
      .social,
      .check-cont {
        padding: $defaultPaddingSmall;
        transform: translateY(100%);
        opacity: 0;
        transition: transform $time1, opacity $time1;
      }

      // checks
      .check-cont {
        grid-template-columns: repeat(3, 1fr);
        margin-top: 4rem;
        .check {
          padding: 0.5rem 0.5rem;
          border: 1px solid $hoverGrey;
          border-radius: $defaultBorderRadius;
          grid-template-columns: 1fr 8fr;
          background-color: #fff;
          box-shadow: $shad2;

          svg {
            width: 40px;
            height: 40px;
            padding: 10px;
            border-radius: 50%;
          }
          p {
            color: black;
            span {
              display: block;
              text-align: center;
              font-weight: bold;
            }
            > span:first-of-type {
              font-size: 1.2rem;
              color: $logoYellow;
            }
            > span:last-of-type {
              font-size: 0.825rem;
            }
          }
        }
      }
    }

    .about,
    .portfolio,
    .contact {
      background-color: #fff;
      border-radius: $defaultBorderRadius;
      box-shadow: transparent;
      // box-shadow: 0 3px 15px -4px $logoYellow;
    }

    .about,
    .skills,
    .portfolio,
    .contact {
      padding: 2rem 0.5rem;
    }

    // about
    .about {
      grid-template-columns: 1fr 3fr;
      background-color: #fff;
      border-radius: $defaultBorderRadius;
      column-gap: 2.5rem;

      .imgcont {
        margin: $defaultPaddingSmall;
        outline: 7px solid $logoYellow;
        outline-offset: -7px;
        border-radius: $defaultBorderRadius;
        transform: translateY(5%);
        width: 200px;
        justify-self: center;
        align-self: flex-start;

        img {
          border-radius: $defaultBorderRadius;
          border: 7px solid $logoBlack;
          object-fit: cover;
          object-position: center;
          width: 200px;
          height: 264px;
          display: block;
          transform: translate(10%, -10%);
        }
      }
      p {
        padding: $defaultPaddingSmall;

        &:last-of-type {
          padding-bottom: 1rem;
        }
      }
    }

    // skills
    .skills {
      grid-template-columns: 1fr 1.5fr;
      overflow: hidden;

      .stackscont {
        p {
          padding: $defaultPaddingSmall;
        }

        .switch {
          margin: $defaultPaddingSmall;
          margin-top: 1rem;
          background-color: $logoBlack;
          border-radius: $defaultBorderRadius;
          padding: 0.3rem;
          position: relative;
          button {
            width: 50%;
            z-index: 3;
            font-size: 1rem;
            padding: 0.5rem 1.4rem;
            border-radius: $defaultBorderRadius;
            font-weight: 500;
            color: #fff;
          }
          .switchcontrol {
            position: absolute;
            background-color: $logoYellow;
            z-index: 1;
            height: 78%;
            width: 48.3%;
            transform: translateX(0);
            transition: transform $time;

            &.move {
              transform: translateX(100%);
            }
          }
        }
      }
      .sets {
        display: grid;
        align-items: center;
        .stackboxcont {
          padding: $defaultPadding;
          row-gap: 1rem;
          grid-template-columns: repeat(4, 1fr);
          display: none;

          &.show {
            display: grid;
            .stackbox {
              transition: all 0.3s;
            }
          }
          .imgcont {
            display: block;
            position: relative;
            padding-top: 100%;
            width: 100%;
            height: 0;
            border-radius: $defaultBorderRadius;

            img {
              border: 2px solid $hoverGrey;
              border-radius: $defaultBorderRadius;
              cursor: pointer;
              opacity: 0;
              transform: translate(50%, 50%);
              box-shadow: $shad2;
              aspect-ratio: 1 / 1;
              background-color: #fff;
              padding: 28px;
              transition: opacity 0.35s, transform 0.35s;
              @include resimage();
            }
          }
        }
      }
    }

    //portfolio
    .portfolio {
      > p {
        padding: $defaultPaddingSmall;
      }
      > div {
        margin: $defaultPaddingSmall;
        margin-top: 2rem;
        column-gap: 1.5rem;
        row-gap: 3rem;
        .portfoliobox {
          background-color: #fff;
          border-radius: $defaultBorderRadius;
          border: 1px solid $hoverGrey;
          overflow: hidden;
          .imgcont {
            position: relative;
            display: block;
            padding-top: 56.25%;
            width: 100%;
            height: 0;
            img {
              @include resimage();
              height: 100%;
              object-position: 51% 0;
              object-fit: cover;
            }
          }

          .text {
            padding: 1rem;
            h4 {
              color: $logoYellow;
              font-weight: bold;
              margin: 0.75rem 0;
            }
            p {
              font-size: 0.8rem;
              display: flex;
              column-gap: 0.25rem;
              row-gap: 0.5rem;
              flex-wrap: wrap;
              span {
                font-size: 11px;
                font-weight: bold;
                padding: 0 0.6rem;
                color: #fff;
                border-radius: $defaultBorderRadius;
                &.html {
                  background-color: #e65100;
                }
                &.sass {
                  background-color: #cf649a;
                }
                &.react {
                  background-color: #59a1ff;
                }
                &.django {
                  background-color: #169b28;
                }
                &.postgre {
                  background-color: #0079d6;
                }
                &.aws {
                  background-color: rgb(235, 102, 26);
                }
              }
            }
          }
        }
      }
    }

    // contact
    .contact {
      .contact-details {
        > p,
        .social,
        .contactbox {
          padding: $defaultPaddingSmall;
        }
        .social {
          margin-top: 2rem;
        }
        .contactbox {
          column-gap: 0.725rem;
          svg {
            margin-top: 4px;
            margin-right: 2px;
            width: 20px;
            height: 20px;
          }
          p {
            display: grid;
            span {
              &:first-of-type {
                font-weight: bold;
                color: black;
              }
            }
          }
        }
      }
      form {
        margin: $defaultPaddingSmall;
        row-gap: 1rem;
        padding: 1.5rem 1rem;
        border-radius: $defaultBorderRadius;
        background-color: $logoBlack;
        label {
          color: #fff;
          display: grid;
          font-size: 0.825rem;
          font-weight: bold;
          row-gap: 0.3rem;
          svg {
            fill: rgba(128, 128, 128, 0.637);
            position: absolute;
            height: 14px;
            width: 14px;
            transform: translate(0.6rem, 33px);
          }
          input,
          textarea {
            border: none;
            border-radius: $defaultBorderRadius;
            padding: 0.6rem 0.6rem 0.6rem 2.1rem;
            line-height: 1.2rem;
            &::placeholder {
              color: gray;
            }
            &:focus {
              outline: 2.5px solid $logoYellow;
            }
          }
          textarea {
            padding-left: 0.6rem;
            height: 7rem;
            resize: none;
          }
        }
      }
    }
  }
}

footer {
  padding: $defaultPadding;
  padding: {
    top: 1.5rem;
    bottom: 1.5rem;
  }
  max-width: $defaultWidth1;
  margin: auto;
  // margin-top: 6rem;
  display: flex;
  align-items: baseline;
  justify-content: space-between;

  p {
    color: $logoBlack;
    background-color: #fff;
    border-radius: $defaultBorderRadius;
    padding: 0.8rem;
    span {
      font-family: cursive;
      font-weight: bold;
      font-size: 1.1rem;
    }
  }
}

.alert {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000000bd;
  z-index: -10;
  opacity: 0;
  transition: z-index 0.5s, opacity 0.5s;

  &.show {
    z-index: 1500;
    opacity: 1;
  }
  .inner {
    padding: 2rem;
    padding-left: 3.5rem;
    background-color: #fff;
    border-radius: $defaultBorderRadius;
    position: relative;
  }
}

.topbtn {
  position: fixed;
  bottom: 0.75rem;
  right: 0.5rem;
  color: #fff;
  background-color: $logoBlack;
  font-size: 1.25rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: $shad2;
  z-index: -90;
  visibility: hidden;
  animation: grow 2s infinite alternate-reverse ease-in;
  &.show {
    z-index: 100;
    visibility: visible;
  }
}

// updated styles
main section {
  .about,
  .skills,
  .portfolio,
  .testimonials,
  .contact {
    background-color: transparent;
    h3 {
      color: $logoYellow;
    }
    p {
      color: #fff;
    }
  }
  .intro .name {
    h2 {
      color: #fff;
    }
    p {
      color: #fff;
      span {
        color: $logoYellow;
      }
    }
  }

  .portfolio > div .portfoliobox p {
    color: $fontGrey;
  }

  .contact {
    .contact-details {
      .contactbox svg {
        fill: $logoYellow;
      }
      p span:first-of-type {
        color: $logoYellow !important;
      }
    }
  }
}
