// @import "./index.scss";
@import "./_globals";

@media screen and (min-width: 1081px) {
  .bgvideo video {
    min-width: 110%;
  }
}

@media (min-width: 641px) and (max-width: 740px) {
  main {
    section {
      .intro {
        .name .buttons .btn {
          width: 28%;
        }
        .check-cont {
          column-gap: 0.5rem;
        }
      }
      .skills .stackboxcont img {
        padding: 1.4rem !important;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .bgvideo {
    video {
      transform: translateX(-12.5%);
    }
  }
  // nav
  nav {
    position: sticky;
    top: 0;
    background-color: $bgc;
    .navinner {
      padding-top: 0.7rem;
      padding-bottom: 0.7rem;

      .togglebtn {
        display: block;
      }

      .linkscont {
        &.show {
          display: grid;
        }
        display: none;
        overflow: hidden;
        position: absolute;
        width: 100%;
        top: 3.5rem;
        left: 0;
        z-index: 50;
        ul {
          border-radius: $defaultBorderRadius;
          padding: $defaultPadding;
          padding-bottom: 1rem;
          padding-top: 1.5rem;
          background-color: #fff;
          display: grid;
          row-gap: 1rem;

          li {
            border-bottom: 1px solid rgba(117, 117, 117, 0.24);
            a {
              color: $fontGrey;
              display: block;
              padding: 0.5rem 1rem;
            }
          }
        }
      }
    }
  }
  main {
    section {
      .intro .check-cont,
      .about,
      .skills,
      .portfolio,
      .testimonials,
      .contact {
        border-radius: $defaultBorderRadius;
        box-shadow: none;

        h4 {
          font-size: 1.125rem !important;
        }
        span,
        label,
        input::placeholder,
        textarea::placeholder {
          font-size: 0.875rem !important;
        }
        p,
        span:first-of-type {
          font-size: 1rem !important;
        }
      }
      .intro .check-cont,
      .about,
      .skills,
      .contact {
        grid-template-columns: 1fr;
        row-gap: 2rem;
      }

      .intro {
        margin-top: 3.7rem;
        padding-top: 2.5rem;
        h2:last-of-type {
          font-size: 28px;
        }
        p {
          max-width: 100%;
        }
        .name {
          > p .location {
            display: none;
          }
        }
        .email {
          flex-direction: column;
          row-gap: 0.5rem;
        }
        .name .buttons .btn {
          width: 50%;
        }
        .check-cont {
          margin-top: 3rem;
          .check {
            grid-template-columns: 1fr 8fr;
            padding: 0.8rem 1rem;
            i {
              display: block;
            }
          }
        }
      }

      .about .imgcont {
        transform: translate(-5%, 0);
      }

      .skills {
        .switchcontrol {
          width: 49% !important;
        }
        .stackboxcont {
          gap: 1rem;
          img {
            padding: 1.8rem !important;
          }
        }
      }

      .portfolio {
        > div {
          grid-template-columns: 1fr;
          height: max-content;
        }
        h4 {
          margin-bottom: 0.175rem !important;
        }
      }
    }
  }

  footer {
    display: grid;
    row-gap: 1rem;
  }
}

@media screen and (max-width: 475px) {
  // bg vid
  .bgvideo {
    overflow: hidden;
    position: absolute;
    width: 100vw;
    height: 100vh;

    video {
      position: absolute;
    }
  }

  main {
    section {
      .intro {
        .name {
          padding-top: 1.5rem;
          h2:last-of-type {
            font-size: 26px;
          }
          p {
            max-width: 100%;
          }
        }
      }

      .skills {
        .stackboxcont {
          gap: 1rem;
          img {
            padding: 1rem !important;
          }
        }
      }
    }
  }
}
